#activeVideo {
  width: 280px;
}
.compClassFrame,
.compClassVideo,
#controls {
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px 0px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: white;
  text-align: center;
}
#controls {
  padding: 10px 10px;
}
.compClassFrame input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.compClassFrame input:active + .frameCss {
  opacity: 0.5;
}
.compClassFrame input:checked + .frameCss {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.frameCss {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;

  min-width: 200px;
  height: 120px;
  margin: auto;
  -webkit-filter: brightness(1) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1) grayscale(1) opacity(0.7);
  filter: brightness(1) grayscale(1) opacity(0.7);
}
.frameCss:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

button {
  font: inherit;
  background: #ff0062;
  border: 1px solid #ff0062;
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:disabled {
  background: #7e7e7e;
}
button:active {
  background: #a927f5;
  border-color: #a927f5;
}

#controls #next {
  float: right;
}
#controls #prev {
  float: left;
}
#controls #submit {
  display: block;
  clear: both;
  width: 100%;
  margin-top: 70px;
}

@media screen and (min-width: 500px) {
  .compClassFrame {
    margin: 20px 100px;
  }
  .compClassFrame,
  .compClassVideo {
    padding: 20px;
  }
  #activeVideo {
    width: 400px;
  }
  #controls {
    margin: 20px auto;
    width: 400px;
  }
}

@media screen and (min-width: 700px) {
  .compClassVideo {
    margin: 20px 100px;
  }
}
@media screen and (min-width: 800px) {
  #activeVideo {
    width: 500px;
  }
  .compClassVideo {
    margin: 20px 100px;
  }
}
